<table class="vertical-navbox nowraplinks"
       style="float:right;clear:right;width:22.0em;margin:0 0 1.0em 1.0em;background:#f9f9f9;border:1px solid #aaa;padding:0.2em;border-spacing:0.4em 0;text-align:center;line-height:1.4em;font-size:88%">
    <tbody>
    <tr>
        <th style="padding:0.2em 0.4em 0.2em;font-size:145%;line-height:1.2em">
            <a href="/wiki/Machine_learning" title="Machine learning">Machine learning</a> and<br/>
            <a href="/wiki/Data_mining" title="Data mining">data mining</a>
        </th>
    </tr>
    <tr>
        <td style="padding:0.2em 0 0.4em;padding:0.25em 0.25em 0.75em;">
            <a href="/wiki/File:Kernel_Machine.svg" class="image">
                <img alt="Kernel Machine.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Kernel_Machine.svg/220px-Kernel_Machine.svg.png" decoding="async" width="220" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Kernel_Machine.svg/330px-Kernel_Machine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Kernel_Machine.svg/440px-Kernel_Machine.svg.png 2x" data-file-width="512" data-file-height="233"/>
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding:0 0.1em 0.4em">
            <div class="NavFrame collapsed" style="border:none;padding:0">
                <div class="NavHead" style="font-size:105%;background:transparent;text-align:left">Problems</div>
                <div class="NavContent" style="font-size:105%;padding:0.2em 0 0.4em;text-align:center">
                    <div class="hlist">
                        <ul>
                            <li><a href="/wiki/Statistical_classification" title="Statistical classification">Classification</a></li>
                            <li><a href="/wiki/Cluster_analysis" title="Cluster analysis">Clustering</a></li>
                            <li><a href="/wiki/Regression_analysis" title="Regression analysis">Regression</a></li>
                            <li><a href="/wiki/Anomaly_detection" title="Anomaly detection">Anomaly detection</a></li>
                            <li><a href="/wiki/Automated_machine_learning" title="Automated machine learning">AutoML</a></li>
                            <li><a href="/wiki/Association_rule_learning" title="Association rule learning">Association rules</a></li>
                            <li><a href="/wiki/Reinforcement_learning" title="Reinforcement learning">Reinforcement learning</a></li>
                            <li><a href="/wiki/Structured_prediction" title="Structured prediction">Structured prediction</a></li>
                            <li><a href="/wiki/Feature_engineering" title="Feature engineering">Feature engineering</a></li>
                            <li><a href="/wiki/Feature_learning" title="Feature learning">Feature learning</a></li>
                            <li><a href="/wiki/Online_machine_learning" title="Online machine learning">Online learning</a></li>
                            <li><a href="/wiki/Semi-supervised_learning" title="Semi-supervised learning">Semi-supervised learning</a></li>
                            <li><a href="/wiki/Unsupervised_learning" title="Unsupervised learning">Unsupervised learning</a></li>
                            <li><a href="/wiki/Learning_to_rank" title="Learning to rank">Learning to rank</a></li>
                            <li><a href="/wiki/Grammar_induction" title="Grammar induction">Grammar induction</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:0 0.1em 0.4em">
            <div class="NavFrame collapsed" style="border:none;padding:0">
                <div class="NavHead" style="font-size:105%;background:transparent;text-align:left">
                    <div style="padding:0.1em 0;line-height:1.2em;">
                        <a href="/wiki/Supervised_learning" title="Supervised learning">Supervised learning</a>
                        <br/>
                        <style data-mw-deduplicate="TemplateStyles:r886047488">.mw-parser-output .nobold {
                            font-weight: normal
                        }</style>
                        <span class="nobold">
                            <span style="font-size:85%;">
                                (
                                <b>
                                    <a href="/wiki/Statistical_classification" title="Statistical classification">classification</a>
                                </b>
                                &#160;&#8226;&#32;
                                <b>
                                    <a href="/wiki/Regression_analysis" title="Regression analysis">regression</a>
                                </b>
                                )
                            </span>
                        </span>
                    </div>
                </div>
                <div class="NavContent" style="font-size:105%;padding:0.2em 0 0.4em;text-align:center">
                    <div class="hlist">
                        <ul>
                            <li><a href="/wiki/Decision_tree_learning" title="Decision tree learning">Decision trees</a>
                            </li>
                            <li><a href="/wiki/Ensemble_learning" title="Ensemble learning">Ensembles</a>
                                <ul>
                                    <li><a href="/wiki/Bootstrap_aggregating" title="Bootstrap aggregating">Bagging</a>
                                    </li>
                                    <li><a href="/wiki/Boosting_(machine_learning)" title="Boosting (machine learning)">Boosting</a>
                                    </li>
                                    <li><a href="/wiki/Random_forest" title="Random forest">Random forest</a></li>
                                </ul>
                            </li>
                            <li><a href="/wiki/K-nearest_neighbors_algorithm"
                                   title="K-nearest neighbors algorithm"><i>k</i>-NN</a></li>
                            <li><a href="/wiki/Linear_regression" title="Linear regression">Linear regression</a></li>
                            <li><a href="/wiki/Naive_Bayes_classifier" title="Naive Bayes classifier">Naive Bayes</a>
                            </li>
                            <li><a href="/wiki/Artificial_neural_network" title="Artificial neural network">Artificial
                                neural networks</a></li>
                            <li><a href="/wiki/Logistic_regression" title="Logistic regression">Logistic regression</a>
                            </li>
                            <li><a href="/wiki/Perceptron" title="Perceptron">Perceptron</a></li>
                            <li><a href="/wiki/Relevance_vector_machine" title="Relevance vector machine">Relevance
                                vector machine (RVM)</a></li>
                            <li><a href="/wiki/Support-vector_machine" title="Support-vector machine">Support vector
                                machine (SVM)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
</table>
